:root {
  --focus-hover-color: #404bbf;
  --primary-background: #ffffff;
  --second-title-background: #2e2f42;
}

body {
  position: relative;
  width: 1440px;
  height: 2592px;
  font-family: "Roboto", sans-serif;
  background: var(--primary-background);
  color: #434455;
}

/* Utilities */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 2px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Button */

.button-pointer {
  cursor: pointer;
}

/* Design logo */

.logo {
  margin-right: 76px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  font-family: "Raleway";
  color: var(--second-title-background);
}

.logo-footer {
  color: #f4f4fd;
}

/* Studio */

/* Hero */

.hero {
  background: var(--second-title-background);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  padding: 16px 32px;
  margin-top: 48px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--focus-hover-color);
}

/* Feature */

.section.feature {
  padding-bottom: 0;
}

.feature-title-three {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--second-title-background);
}

.feature-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.feature-list {
  display: flex;
}

.feature-list > .item {
  width: calc((100%-72px) / 4);
}

.feature-list > .item:not(:last-child) {
  margin-right: 24px;
}

/* Whar are we doing */

.wawd-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--second-title-background);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.wawd-list {
  display: flex;
}

.wawd-list > .item:not(:last-child) {
  margin-right: 24px;
}

/* Our Team */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--second-title-background);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--second-title-background);
}

.team-job {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.team-list {
  background: #ffffff;
}

/* Footer */

.footer {
  background: var(--second-title-background);
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
}

/* Header */

.nav {
  display: flex;
}

.header {
  display: flex;

  background: var(--primary-background);
}

.header-flex {
  display: flex;
  align-items: center;
}

.list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-title-background);
  letter-spacing: 0.02em;
}

.list-link:hover,
.list-link:focus {
  color: var(--focus-hover-color);
}

.list-nav > .item:not(:last-child) {
  margin-right: 40px;
}

.email-telephone {
  font-size: 16px;
  line-height: 24px;
  color: #434455;
  letter-spacing: 0.02em;
}

.email-telephone:hover,
.email-telephone:focus {
  color: var(--focus-hover-color);
}

.address {
  display: flex;
  margin-left: auto;
}

.address-list {
  display: flex;

  font-style: normal;
}

.address-list > .item:not(:last-child) {
  margin-right: 40px;
}

.list-nav {
  display: flex;
}

/* Portfolio */

/* Button Filtration */

.button-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
}

.button-filter:hover,
.button-filter:focus {
  color: #ffffff;
  background: var(--focus-hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.text-filter {
  color: #4d5ae5;
  font-size: 16px;
  line-height: 24px;
}

.text-filter:hover,
.text-filter:focus {
  color: #ffffff;
}

/* Portfolio Text */

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--second-title-background);
}

.portfolio-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.hidden {
  display: none;
}
